$white: #ffffff;
$white-blue: #f7ffff;
$black: #000000;
$light-black: #083038;
$gray: #c9c9c9;
$background-light-blue: #eafbff;
$team-light-blue: #d7f2f9;
$aqua-button-hover: #74dcdf99;
$aqua-blue: #00bfc4;
$dark-blue: #00788a;
$link-green: #43808c;
$light-yellow: #fff6eb;
$light-orange: #fff7f5;
$light-green: #f0fffa;
$light-blue: #ecf4ff;
$opaque-layer: rgba(244, 246, 255, 0.1);

$blue-green-gradient: linear-gradient(90deg, #00788a 6.67%, #74dcdf 94.66%);
$image-gradient: linear-gradient(
	229.5deg,
	rgba(245, 249, 250, 0) 21.55%,
	#a4dfee 96.28%
);
$bubble-gradient: linear-gradient(
	270deg,
	#ffffff 1.37%,
	rgba(255, 255, 255, 0) 98.02%
);
