$white: #ffffff;
$black: #000000;
$light-black: #083038;
$blue-green-gradient: linear-gradient(90deg, #00788a 6.67%, #74dcdf 94.66%);
$aqua-blue: #00bfc4;
$dark-blue: #00788a;
$link-green: #43808c;
$light-yellow: #fff6eb;
$light-orange: #fff7f5;
$light-green: #f0fffa;
$light-blue: #ecf4ff;
