@use '../variables/colors' as colors;
@import "../variables/breakpoints";

.button {
	height: 70px;
	width: 200px;
	border-radius: 6px;
	border: none;

	&:hover {
		cursor: pointer;
	}

	&--hero {
		background-color: colors.$aqua-blue;
		color: colors.$white;

		&:hover {
			filter: drop-shadow(2px 7px 6px colors.$aqua-blue);
		}

		&:active {
			border: 1px solid colors.$dark-blue;
		}
	}

	&--view-all {
		background: linear-gradient(
			to left,
			colors.$white 50%,
			colors.$aqua-blue 50%
		);

		&:hover {
			background: colors.$aqua-blue;
		}
	}
}
