@use '../variables/colors' as colors;
@import "../variables/breakpoints";

.about {
	text-align: center;
	background-image: url("/src/images/lightbulb-bg.svg");
	background-repeat: no-repeat;
	background-size: 120%;
	margin-top: 8%;
	margin-bottom: 8%;

	@include sc-breakpoint(1024) {
		background-position: bottom left;
		background-size: 500px;

		h3,
		p {
			margin: 0;
		}
	}

	&__wrapper {
		@include sc-breakpoint(1024) {
			display: flex;
			align-items: center;
		}
	}

	&__bg {
		display: none;

		@include sc-breakpoint(768) {
			display: block;
			position: relative;
		}
	}

	&-circle {
		position: absolute;
		&--yellow-top {
			top: 0;
			left: 60px;
			transform: translateY(-418px);
		}

		&--blue {
			top: 80px;
			left: 640px;
		}

		&--yellow-bottom {
			transform: translate(1183px, 181px);
		}
	}

	&__image {
		display: flex;
		flex-direction: column;
		width: 90%;
		margin: 0 auto;
		border-radius: 12px;
		border: none;
		box-shadow: 4px 8px 44px -10px rgba(66, 94, 122, 0.18);
		background: colors.$white;

		@include sc-breakpoint(1024) {
			width: 40%;
			margin-left: 40px;
			margin-right: 160px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 90px 0 50px 0;
		padding: 20px;

		@include sc-breakpoint(1024) {
			align-items: baseline;
			width: 50%;
			gap: 20px;
			text-align: left;
			padding: 0;
		}

		@include sc-breakpoint(1400) {
			width: 40%;
		}
	}

	&__title {
		margin-top: 0;
	}

	&__watch {
		display: flex;
		gap: 20px;
		align-items: center;
		padding: 20px;

		@include sc-breakpoint(1024) {
			margin: 0;
			padding: 0;
			width: 50%;
		}

		.play-button {
			width: 46px;
		}
	}
}
