@use '../variables/colors' as colors;
@import "../variables/breakpoints";

.achievement {
	text-align: center;
	margin-top: 60px;

	&__wrapper {
		@include sc-breakpoint(1024) {
			display: flex;
			flex-direction: column;
			position: relative;
		}

		@include sc-breakpoint(1400) {
			max-width: fit-content;
			margin: 0 auto;
		}
	}

	&__numbers {
		display: flex;
		flex-direction: column;
		gap: 20px;

		@include sc-breakpoint(1024) {
			flex-direction: row;
			gap: 10px;
			padding: 30px 0;
		}
	}

	&__text {
		@include sc-breakpoint(1024) {
			text-align: left;
			position: absolute;
		}
	}

	.numbers {
		&__title {
			margin: 0;
		}

		&__box {
			padding: 20px 0;
			width: 200px;
			margin: 0 auto;

			&:hover {
				filter: saturate(8);
			}

			@include sc-breakpoint(1024) {
				height: 100px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-self: self-end;
				padding: 20px 5px;
			}

			&--yellow {
				background-color: colors.$light-yellow;

				@include sc-breakpoint(1024) {
					margin-left: 20px;
				}
			}

			&--orange {
				background-color: colors.$light-orange;
			}

			&--green {
				background-color: colors.$light-green;
			}

			&--blue {
				background-color: colors.$light-blue;
			}
		}
	}

	&__image {
		height: 350px;
		display: flex;
		flex-direction: column;
		gap: 30px;
		text-align: left;
		justify-content: center;
		padding: 40px;
		margin: 0 auto;
		background: url("/src/images/fireworks.png");
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 6px;

		@include sc-breakpoint(1024) {
			background-size: 100% 350px;
			background-position: bottom;
		}

		&__title {
			margin: 0;
		}

		&__text {
			width: 50%;
		}
	}
}
