@use '../variables/colors' as colors;
@import "../variables/breakpoints";

.footer {
	background-color: colors.$background-light-blue;
	padding: 40px;

	&__wrapper,
	&__menu__wrapper {
		display: flex;
		flex-direction: column;

		@include sc-breakpoint(1024) {
			padding-top: 12%;
		}

		@include sc-breakpoint(1820) {
			padding-top: 150px;
		}
	}

	&__wrapper {
		@include sc-breakpoint(1024) {
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			text-align: left;
		}
	}

	&__menu {
		overflow: hidden;
	}

	&__social {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		@include sc-breakpoint(1024) {
			text-align: center;
			flex-direction: column;
			align-items: baseline;
		}

		&__list {
			display: flex;
			gap: 20px;

			@include sc-breakpoint(1024) {
				margin-top: 58px;
			}

			&__item > a > svg {
				width: 35px;

				@include sc-breakpoint(768) {
					width: 48px;
				}
			}
		}
	}

	&__menu {
		&__wrapper {
			flex-direction: row;
			flex-wrap: wrap;
			align-items: baseline;
			justify-content: space-between;
			gap: 20px;
			text-align: left;

			@include sc-breakpoint(425) {
				justify-content: flex-start;
			}

			@include sc-breakpoint(768) {
				justify-content: space-evenly;
				gap: 40px;
			}
		}
	}

	&__social__list__item svg > path:hover {
		filter: hue-rotate(45deg);
	}
}
