@import "../variables/breakpoints";

body {
	max-width: 1440px;

	@include sc-breakpoint(1820) {
		margin: 0 auto;
	}
}

ul {
	padding-left: 0;

	li {
		list-style: none;
	}
}

a {
	text-decoration: none;
}

section {
	margin: 20px 10px;

	@include sc-breakpoint(1024) {
		margin: 40px;
	}

	@include sc-breakpoint(1820) {
		max-width: 80%;
		margin: 0 auto;
	}
}

button:hover {
	cursor: pointer;
}
