@import "../variables/breakpoints";

ul {
	padding-left: 0;

	li {
		list-style: none;
	}
}

a {
	text-decoration: none;
}

section {
	margin: 20px;
	@include sc-breakpoint(1024) {
		margin: 40px;
	}
}

button:hover {
	cursor: pointer;
}
