@use '../variables/colors' as colors;
@import "../variables/breakpoints";

.main {
	padding: 10px 15px;
	background-color: colors.$background-light-blue;
	margin: auto;

	&__wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;

		@include sc-breakpoint(768) {
			flex-direction: row;
		}

		@include sc-breakpoint(1024) {
			padding: 10% 0;
			max-width: 1200px;
			margin: 0 auto;
		}

		@include sc-breakpoint(1820) {
			width: 90%;
		}
	}

	&__bg {
		display: none;

		@include sc-breakpoint(1024) {
			display: block;
			position: relative;
		}

		img {
			position: absolute;
			width: 30px;
		}

		&__circle {
			&--blue {
				left: 20px;
				top: 600px;

				@include sc-breakpoint(1024) {
					transform: translateY(-350px);
					top: 0;
					left: 650px;
				}

				@include sc-breakpoint(1400) {
					transform: translateY(-345px);
					top: 0;
					left: 885px;
				}
			}

			&--dark-blue {
				right: 50px;
				@include sc-breakpoint(1024) {
					top: -420px;
					right: auto;
					left: 120px;
				}
			}

			&--half {
				left: 0;
				@include sc-breakpoint(1024) {
					left: 250px;
					top: 380px;
				}
			}

			&--yellow {
				top: 200px;
				right: 0;

				@include sc-breakpoint(1024) {
					top: 100px;
					transform: translate(900px, 0px);
				}

				@include sc-breakpoint(1300) {
					top: 100px;
					transform: translate(1030px, 0px);
				}
			}
		}
	}

	&__image {
		@include sc-breakpoint(768) {
			width: 100%;
		}

		img {
			width: 100%;
			background: colors.$image-gradient;
			border-radius: 100px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 30px;
		text-align: center;
		margin-top: 50px;

		@include sc-breakpoint(768) {
			width: 90%;
			text-align: left;
		}

		@include sc-breakpoint(1024) {
			width: 100%;
			padding: 0 40px;
			margin-left: 40px;
		}

		@include sc-breakpoint(1400) {
			margin-left: 70px;
		}

		&__wrapper {
			@include sc-breakpoint(1024) {
				max-width: 600px;
			}
		}
	}

	&__title,
	&__text {
		margin: 0;
	}

	&__text {
		padding: 30px 10px;
	}

	&__bubble {
		display: flex;
		align-items: center;
		padding: 20px 0;
		text-align: left;

		@include sc-breakpoint(1024) {
			max-width: 300px;
		}

		svg {
			width: 100px;
			align-self: baseline;
		}

		&--fill {
			background-color: colors.$white;
			border-radius: 40px;
			background: colors.$bubble-gradient;
		}

		&__title {
			margin: 0;
		}
	}
}
