@use '../variables/colors' as colors;
@import "../variables/breakpoints";

.nav {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;

	@include sc-breakpoint(1024) {
		grid-template-columns: repeat(3, 1fr);
	}

	&__menu {
		display: none;
		width: 100%;
		grid-column: 1/-1;
		background: colors.$light-blue;
		padding: 20px 0;

		@include sc-breakpoint(1024) {
			display: grid;
			grid-auto-flow: column;
			grid-column: 2/-1;
			background: none;
		}

		&__icon {
			justify-self: end;
			path {
				fill: colors.$dark-blue;
			}
			@include sc-breakpoint(1024) {
				display: none;
			}
		}

		&__line {
			height: 3px;
			width: 100%;
			transform: translateY(-25px);
			background: colors.$aqua-blue;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;

		@include sc-breakpoint(1024) {
			flex-direction: row;
			gap: 20px;
		}
	}

	&__item a {
		position: relative;
		&:active {
			&::after {
				z-index: 2;
				top: 100%;
				content: url("/src/images/icons/nav-menu-circle.svg");
				position: absolute;
				display: block;
				width: 80px;
				right: 50%;
				transform: translate(50%, 50%);
			}
		}
	}

	&__search {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		margin-top: 40px;

		@include sc-breakpoint(1024) {
			margin-top: 0;
			flex-direction: row;
		}

		&__input {
			display: none;
			padding: 10px;
			border: 1px solid colors.$dark-blue;
			border-radius: 10px;

			&__close {
				display: none;
				position: absolute;
				width: 15px;
				top: 30%;
				right: 10%;
			}
		}

		&__and__close {
			position: relative;
		}
	}
}
