@use '../variables/colors' as colors;
@import "../variables/breakpoints";

.newsletter {
	background-color: colors.$dark-blue;
	text-align: center;
	padding: 50px 15px;

	@include sc-breakpoint(1024) {
		width: 90%;
		margin: 0 auto;
		transform: translateY(40%);
	}

	@include sc-breakpoint(1400) {
		width: 80%;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		@include sc-breakpoint(1400) {
			padding: 2% 25%;
		}
	}

	&__title {
		margin: 0;
	}

	&__text {
		max-width: 400px;
		margin: 0 auto;
		padding: 30px 10px;

		@include sc-breakpoint(1024) {
			margin: 0;
			padding: 40px 10% 50px 10%;
		}
	}

	&__subscribe {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;

		@include sc-breakpoint(768) {
			flex-direction: row;
			gap: 10px;
		}

		input#newsletter-subscribe {
			height: 70px;
			width: 232px;
			text-align: left;
			border: 1px solid colors.$opaque-layer;
			border-radius: 12px;
			background: colors.$opaque-layer;
			caret-color: colors.$white;

			&::placeholder {
				color: colors.$white;
				opacity: 0.5;
			}

			@include sc-breakpoint(425) {
				width: 332px;
			}
		}

		input[type="email"] {
			color: colors.$white;
			padding: 0 20px;
		}

		.input-message {
			@include sc-breakpoint(1024) {
				position: absolute;
				transform: translateY(60px);
			}

			&.error {
				color: colors.$black;
			}

			&.success {
				color: colors.$white;
			}
		}
	}
}
