@use '../variables/colors' as colors;
@import "../variables/breakpoints";

.newsletter {
	background-color: colors.$dark-blue;
	text-align: center;
	padding: 50px 15px;

	@include sc-breakpoint(1024) {
		transform: translateY(200px);
	}

	&__wrapper {
		@include sc-breakpoint(1024) {
			padding: 2% 30%;
		}
	}

	&__title {
		margin-top: 0;
	}

	&__text {
		@include sc-breakpoint(1024) {
			padding: 0 10%;
		}
	}

	&__subscribe {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		margin-top: 10%;

		@include sc-breakpoint(1024) {
			flex-direction: row;
			gap: 10px;
		}

		input#newsletter-subscribe {
			height: 70px;
			width: 90%;
			text-align: left;
			border: 1px solid colors.$opaque-layer;
			border-radius: 12px;
			background: colors.$opaque-layer;
			caret-color: colors.$white;

			&::placeholder {
				color: colors.$white;
				opacity: 0.5;
			}
		}

		input[type="email"] {
			color: colors.$white;
			padding: 0 20px;
		}

		.input-message {
			&.error {
				color: colors.$black;
			}

			&.success {
				color: colors.$white;
			}
		}
	}
}
