@use '../variables/colors' as colors;
@import "../variables/breakpoints";

.services {
	text-align: center;
	margin: 100px 40px;

	&__bg {
		position: relative;

		.services-circle {
			display: none;

			@include sc-breakpoint(768) {
				display: block;
				position: absolute;
			}

			&--yellow-top {
				top: 200px;
				left: 200px;
			}

			&--blue {
				left: 60%;
				top: 620px;
			}

			&--yellow-bottom {
				top: 640px;
				right: 50px;
			}
		}
	}

	&__title {
		margin: 0 auto 115px auto;

		@include sc-breakpoint(1024) {
			width: 60%;
		}

		@include sc-breakpoint(1024) {
			width: 40%;
		}
	}

	&__list {
		display: grid;
		row-gap: 20px;

		@include sc-breakpoint(768) {
			grid-template-columns: repeat(2, 1fr);
			align-items: center;
			gap: 20px;
		}

		@include sc-breakpoint(1024) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__item {
		@include sc-breakpoint(1024) {
			padding: 50px;
		}

		&:hover {
			@include sc-breakpoint(1024) {
				box-shadow: 0 25px 50px -12px colors.$gray;
				border-radius: 6px;
			}
		}
	}

	.service {
		&__title {
			margin-bottom: 0;
		}
	}

	.button--view-all {
		margin: 0 auto;
		margin-top: 40px;
	}

	&__image:hover {
		filter: drop-shadow(2px 4px 6px colors.$dark-blue);
	}
}
