@use '../variables/colors' as colors;
@import "../variables/breakpoints";

.services {
	text-align: center;
	margin: 20px 0;

	@include sc-breakpoint(1024) {
		padding: 40px;
	}

	&__title {
		margin-top: 0;
	}

	&__list {
		display: grid;
		row-gap: 20px;

		@include sc-breakpoint(1024) {
			grid-template-columns: repeat(3, 1fr);
			align-items: center;
			gap: 20px;
		}
	}

	&__item {
		@include sc-breakpoint(1024) {
			padding: 50px;
		}

		&:hover {
			@include sc-breakpoint(1024) {
				box-shadow: 0 25px 50px -12px colors.$gray;
			}
		}
	}

	.service {
		&__title {
			margin-bottom: 0;
		}
	}

	.button--view-all {
		margin: 0 auto;
		margin-top: 40px;
	}

	&__image:hover {
		filter: drop-shadow(2px 4px 6px colors.$dark-blue);
	}
}
