@use '../variables/colors' as colors;
@import "../variables/breakpoints";

.team {
	text-align: center;

	&__content {
		margin: 100px 20px;

		@include sc-breakpoint(1024) {
			margin: auto 220px 90px 220px;
		}
	}

	&__wrapper {
		position: relative;
	}

	&__title {
		margin: 15px 0;
	}

	&__text {
		max-width: 580px;
		margin: 0 auto;
	}

	&__bg {
		position: absolute;
		width: 100%;
		height: 100px;
		bottom: 0;
		background: linear-gradient(
			229.5deg,
			colors.$white 25.09%,
			colors.$team-light-blue 101.5%
		);
		border-radius: 100px;

		@include sc-breakpoint(768) {
			width: 543px;
			height: 440px;
			bottom: -64px;
			right: -3px;
		}

		@include sc-breakpoint(1024) {
			width: 716px;
			height: 490px;
			bottom: -28px;
			right: 6px;
		}

		@include sc-breakpoint(1400) {
			width: 969px;
			height: 528px;
			bottom: -28px;
			right: -147px;
		}
	}

	&__member {
		&__img {
			width: 100%;
			border-radius: 12px;
		}
	}

	.slick-track {
		display: flex;
		gap: 20px;
	}

	.slick-dots li.slick-active button:before {
		background-color: colors.$dark-blue;
	}

	.slick-dots {
		display: flex;
		gap: 2px;
		justify-content: center;
		padding: 20px 0;

		@include sc-breakpoint(768) {
			gap: 10px;
		}

		li button {
			font-size: 0;
			width: 25px;
			height: 5px;
			border: none;
			background-color: colors.$white;

			&:hover {
				background-color: colors.$aqua-blue;
			}
		}
		li.slick-active button {
			background-color: colors.$dark-blue;
		}
	}
}
