@use '../variables/colors' as colors;
@import "../variables/breakpoints";

.testimonials {
	margin-top: 60px;

	@include sc-breakpoint(1024) {
		width: 80%;
		margin: 0 auto;
	}

	&__wrapper {
		@include sc-breakpoint(768) {
			margin: 0 auto;
			width: 80%;
		}

		@include sc-breakpoint(1024) {
			width: auto;
		}
	}

	&__title {
		margin-top: 0;
		@include sc-breakpoint(1024) {
			width: 200px;
		}
	}

	&__content {
		@include sc-breakpoint(1024) {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
		}
	}

	&__quote {
		grid-column: 1/-1;
	}

	.customer {
		&__info {
			h3,
			p {
				margin: 0;
			}

			@include sc-breakpoint(1024) {
				display: flex;
				align-items: center;
			}
		}

		&__profile {
			display: flex;
			flex-direction: column;
			gap: 5px;
		}

		&__emoji {
			img {
				border-radius: 50%;
				box-shadow: 0 25px 50px -12px colors.$gray;
			}
		}

		&__rating {
			display: flex;
		}

		&__review {
			@include sc-breakpoint(768) {
				width: 80%;
			}

			@include sc-breakpoint(1400) {
				width: 60%;
			}
		}

		&__image {
			display: none;

			@include sc-breakpoint(1024) {
				display: block;
				grid-column: -1;
				position: relative;
			}

			&__emoji {
				position: absolute;
				width: 150px;
			}

			&__placeholder {
				background: linear-gradient(
					229.5deg,
					colors.$white 25.09%,
					colors.$team-light-blue 101.5%
				);
				border-radius: 100px;
			}
		}

		&.slick-initialized.slick-slider {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			align-items: center;
			row-gap: 10px;

			@include sc-breakpoint(1024) {
				row-gap: 20px;
			}

			.slick-list.draggable {
				grid-row: 1;
				grid-column: 1/-1;
			}

			.arrow {
				grid-row: 2;

				&:hover {
					cursor: pointer;
					stroke: colors.$dark-blue;
				}

				path {
					stroke: colors.$aqua-blue;
					opacity: 1;
				}

				&--prev {
					grid-column: 5;

					@include sc-breakpoint(1024) {
						grid-column: 10;
					}
				}

				&--next {
					grid-column: 8;

					@include sc-breakpoint(1024) {
						grid-column: 11;
					}
				}
			}
		}
	}

	.button--aqua-text {
		svg {
			margin-left: 10px;
		}
	}
}
