@use '../variables/colors' as colors;
@import "../variables/breakpoints";

.testimonials {
	margin: 50px 0;

	&__title {
		margin-top: 0;
	}

	.customer {
		&__rating {
			display: flex;
		}

		&__image {
			display: none;

			@include sc-breakpoint(1024) {
				display: block;
			}
		}

		&.slick-initialized.slick-slider {
			display: grid;
			grid-template-columns: repeat(12, 1fr);

			.slick-list.draggable {
				grid-row: 1;
				grid-column: 1/-1;
			}

			.arrow {
				grid-row: 2;

				&--prev {
					grid-column: 6;
				}

				&--next {
					grid-column: 7;
				}
			}
		}
	}

	.button--aqua-text {
		svg {
			margin-left: 10px;
		}
	}
}
